{# {% extends 'base.html.twig' %}   #}



{% block stylesheets %}
   
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="card">
        <div class="hero">
            <div class="hero-inner">
                <h2>Tu nous as manqué, il y a plein de nouveautés !</h2>
            </div>
        </div>
        <form method="post" action="{{ path('app_login') }}">
            <h2>Hey</h2>
            <h3>Connecte-toi sur ton compte</h3>

            {# Afficher les erreurs d'authentification #}
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="socials">
                <button class="social-btn" type="button">
                    <img src="{{ asset('asset/google.svg') }}" alt="google" class="google">
                    <p><span class="extra-text">Connexion avec</span> Google</p>
                </button>
                <button class="social-btn" type="button">
                    <img src="{{ asset('asset/facebook.svg') }}" alt="fb" class="fb">
                    <p><span class="extra-text">Connexion avec</span> Facebook</p>
                </button>
            </div>
            <span class="or"></span>

            <input type="email" id="inputEmail" name="email" value="{{ last_username }}" placeholder="Email" required autofocus>
            <input type="password" id="inputPassword" name="password" placeholder="Password" required>

            {# Champ CSRF pour la sécurité #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/login.js') }}"></script>
{% endblock %}