{% extends '__home/base.html.twig' %}

{% block title %}Votre panier - CreaSelf{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/panier.css') }}">
{% endblock %}

{% block body %}
<div class="cart-container">
    <h1>Mon Panier</h1>

    <h1>Produits</h1>
<ul>
    {% for produit in produits %}
        <li>{{ produit.name }} - {{ produit.prix }} €</li>
    {% else %}
        <li>Aucun produit trouvé.</li>
    {% endfor %}
</ul>

<h1>Boxes</h1>
<ul>
    {% for box in boxes %}
        <li>{{ box.name }} - {{ box.prix }} €</li>
    {% else %}
        <li>Aucune box trouvée.</li>
    {% endfor %}
</ul>

<h1>Ateliers</h1>
<ul>
    {% for atelier in ateliers %}
        <li>{{ atelier.name }} - {{ atelier.prix }} €</li>
    {% else %}
        <li>Aucun atelier trouvé.</li>
    {% endfor %}
</ul>
</div>
{% endblock %}
